.ant-select {
    height: 48px;
    width: 100%;
}

.ant-select-selector{
    border: 2px solid #8F9192 !important;
    background-color: #F9F6F4 !important;
}

.normal .ant-select-selector:hover{
    border:2px solid #727475 !important;
}

.remove-hover .ant-select-selector:hover{
    border:2px solid #1EA2B1 !important;
}

.asd .ant-select-selector:hover{
    border:2px solid #727475 !important;
}

.ant-select-open .ant-select-selector{
    box-shadow: none !important;
    border:2px solid #1EA2B1 !important;
}

.ant-select-focused .ant-select-selector{
    box-shadow: none !important;
}




